body{
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

a:active{text-decoration: none; color: inherit !important;}
a:hover{text-decoration: none; color: inherit !important; cursor: default;}
a:visited{text-decoration: none; color: inherit !important;}
a:link{text-decoration: none; color: inherit !important;}

.loginBody{
  color: #555;
  margin-top: 100px;
}

.login-brand{
  font-size: 90px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: lighter;
  letter-spacing: -2px;
  color: #555;
}

.login-register{
  text-align: center;
  font-size: 26px;
  font-weight: lighter;
  color: #696969;
  font-family: 'Roboto', sans-serif;
}

.form-type{
  padding: 10px;
  //border-bottom: 1px solid #ccc;
}

.form-type-highlight{
  height: 2px;
  background-image: -webkit-linear-gradient(left, #7fd8e1, #c4e17f 50%, #ccc 50%);
  background-image: -moz-linear-gradient(left, #7fd8e1, #c4e17f 50%, #ccc 50%);
  background-image: -o-linear-gradient(left, #7fd8e1, #c4e17f 50%, #ccc 50%);
  background-image: linear-gradient(to right, #7fd8e1, #c4e17f 50%, #ccc 50%);
}

.form-type-highlight-reverse{
  height: 2px;
  background-image: -webkit-linear-gradient(left, #ccc 50%, #c4e17f 50%, #7fd8e1 100%);
  background-image: -moz-linear-gradient(left, #ccc 50%, #c4e17f 50%, #7fd8e1 100%);
  background-image: -o-linear-gradient(left, #ccc 50%, #c4e17f 50%, #7fd8e1 100%);
  background-image: linear-gradient(to right, #ccc 50%, #c4e17f 50%, #7fd8e1 100%);
}

.login-body{
  margin-top: 10px;
}

.login-form{
  margin-top: 20px;
}

.login-label{
  font-weight: lighter;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.login-form-input{
  border: none;
  border-radius: 0px;
  box-shadow: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
}

.login-form-input:hover{
  border-color: #aaa !important;
  box-shadow: none;
  outline: 0;
}
.login-form-input:focus{
  border-color: #aaa !important;
  box-shadow: none;
  outline: 0;
}
.login-form-input:active{
  border-color: #aaa !important;
  box-shadow: none;
  outline: 0;
}

.btn-mobile{
  background: #5bcc89;
  color: white;
  border: 1px solid #4CAF50;
  margin-top: 20px;
  width: 200px;
  font-size: 25px;
  font-weight: 300;
  font-family: 'Lato';
  -webkit-transition : border 1000ms ease-out, background 1000ms;
  -moz-transition : border 1000ms ease-out, background 1000ms;
  -o-transition : border 1000ms ease-out, background 1000ms;
  transition : border 1000ms ease-out, background 1000ms;
}

.btn-mobile:hover{
  background: #4aa970 !important;
  color: white !important;
  border-color: #3b8a3f !important;
}
.btn-mobile:focus{
  background: #4aa970 !important;
  color: white !important;
  border-color: #3b8a3f !important;
  outline: none;
}
.btn-mobile:active{
  background: #4aa970 !important;
  color: white !important;
  border-color: #3b8a3f !important;
}
