/* HopInOne CSS */
/* SCSS declarations go here */

/* Color variables */
$lightgreen: #7ace74;
$darkgreen: #629c65;

$navbarBG: #40c363;
$navbarHighlight: #2ecc71;

// direct override for Bootstrap navbar
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: $navbarBG !important;
}

// body
body{
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
  //background-image: url('../images/bg.jpg');
}

// navbar
.sap-navbar{
  //background-color: $navbarBG;
  background: black;
  border-radius: 0px;
  color: white !important;
  border-top:0px;
  border-left:0px;
  border-right:0px;
  border-bottom: 4px solid $navbarBG
}

.sap-brand{
  color: white !important;
}

.sap-navbar{
  li a{
    color: white !important;
    font-size: 17px;
    font-weight: lighter;
  &:hover{background-color: $navbarBG !important;}
  &:active{background-color: $navbarBG !important;}
}
  & p{
    color: white !important;
  }
}

.sap-navbar-dropdown a:focus,
.sap-navbar-dropdown a:active,{
  background-color: $navbarBG;
}

.sap-navbar-dropdown-menu{
  background: black;
  border: 4px solid $navbarBG;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.sap-navbar-dropdown-menu li a:hover{
  background-color: $navbarBG !important;
}

.sap-navbar-collapse-btn:hover,
.sap-navbar-collapse-btn:active,
.sap-navbar-collapse-btn:focus{
  background-color: $navbarBG !important;
}

.scss-test{
  color: $darkgreen;
}

// helpers
.padding-none{
  padding: 0px !important;
}


//dashboard CSS

.recent-title{
  font-size: 20px;
  padding: 15px 5px 15px 5px;
  text-align: center;
  color: white;
  background-color: $navbarBG;
  font-weight: lighter;
  border-bottom: 3px solid #4CAF50;
}

.session-date a:focus, a:hover{
  text-decoration: none !important;
}

.recent-outline{
  border: 1px solid #ccc;
  border-top: 0px;
  background-color: white;
  padding:0px;
}

.recent-outline-col-pad{
  padding-left: 0px;
  padding-right: 0px;
}

.player-outline{
  border: 1px solid #ddd;
  background-color: white;
}

.player-outline-col-pad{
  padding-left: 0px;
}

.collapse-panel{
  border: 0px;
  border-radius: 0px;
  outline: 0px;
  box-shadow: none;
}

.sap-active{
  color: $navbarBG;
}

.show-all-list{
  border-top: 1px solid #ddd;
  list-style: none;
  margin-top: 5px;
  padding-top: 5px;
  font-size:17px;
  padding-left: 20px;
  padding-right: 20px;
}

.show-all-list li{
  margin-top: 2px;
  margin-bottom: 2px;
}

.currently-playing{
  font-style: italic;
  color: #555;
}

.badge-custom{
  position: relative;
  top: -2px;
  margin-right: 5px;
  width: 30px;
}

.list-headings{
  font-size: 14px;
  margin-top: 10px;
  color: #2a2a2a;
}

.list-headings-number{
  margin-left: 28px;
}


.list-headings-timestamp{
  margin-left: 20px;
}

.list-headings-rating{
  margin-left: 25px;
}

.list-headings-status{
  margin-left: 100px;
}

.rating-checkmark{
  margin-left: 50px;
  color: $navbarBG;
}

.rating-cross{
  margin-left: 50px;
  color: #f44336;
}

.video-max{
  max-height: 640px;
}

.video-container-max{
  max-height: 642px;
}

.statistics{
  padding: 10px;
  font-size: 20px;
}

.card{
  padding: 20px;
  height: 100px;
  margin-top: 10px;
}

.card-green{
  background-color: $navbarBG;
}

.card-title{
  color: white;
  text-align: center;
  margin-top: 10px !important;
}
